<form action="/memes/create" method="POST">
    <label>Name</label>
    <input name="name" type="text"/>

    <label>About</label>
    <input name="about" type="text"/>

    <label>Origin</label>
    <input name="create" type="text"/>
    
    <button type="submit">Add meme</button>
</form>